.footer {
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
  text-align: center;
}

.row {
  word-wrap: break-word;
}

.product-name {
  color: black;
}

.type-name {
  color: gray;
}

.price {
  color: #089b03;
}

.img {
  width: 100px;
  height: 100px;
}

.img-bigger {
  width: 100px;
  height: 100px;
  border: 1;
}